[submodule "tools/security/mobsf"]
	path = tools/security/mobsf
	url = https://github.com/MobSF/Mobile-Security-Framework-MobSF.git
[submodule "tools/security/automation-mobsf"]
	path = tools/security/automation-mobsf
	url = https://github.com/ZachGeo/Automation-MobSF
[submodule "tools/security/phonesploit"]
	path = tools/security/phonesploit
	url = https://github.com/prbhtkumr/PhoneSploit
[submodule "tools/security/uber-apk-signer"]
	path = tools/security/uber-apk-signer
	url = https://github.com/patrickfav/uber-apk-signer.git
[submodule "tools/messaging/mq-container"]
	path = tools/messaging/mq-container
	url = https://github.com/ibm-messaging/mq-container.git
[submodule "tools/orchestration/container"]
	path = tools/orchestration/container
	url = https://github.com/apple/container.git
[submodule "tools/workflow/flowise"]
	path = tools/workflow/flowise
	url = https://github.com/FlowiseAI/Flowise.git
[submodule "tools/analytics/redash-setup"]
	path = tools/analytics/redash-setup
	url = https://github.com/getredash/setup.git
[submodule "tools/analytics/redash"]
	path = tools/analytics/redash
	url = https://github.com/getredash/redash.git
[submodule "devops/cloud/github/changtraisitinh.github.io"]
	path = devops/cloud/github/changtraisitinh.github.io
	url = https://github.com/changtraisitinh/changtraisitinh.github.io
